.warbler-all-comments__title {
    /* Title above comments (ie: "5 comments") */
    margin: 0;
    font-size: inherit;
}

.warbler-comment {
    /* Comments: have spacing between them */
    margin-top: 0.5em;
}
.warbler-comment .warbler-comment {
    /* Replies: have indentation */
    margin-left: 1em;
}
.warbler-comment__author {
    /* Author name in comment: Make links look normal */
    color: inherit;
}
.warbler-comment__main {
    /* Comment main area: Line up avatar image and text */
    display: flex;
}
.warbler-comment__metadata {
    /* Comment metadata: Spacing before metadata */
    margin-left: 0.5em;
}

.warbler-avatar {
    /* Avatar wrappers: have space before text */
    margin-right: 0.5em;
    align-self: start;
}
.warbler-avatar__img {
    /* Avatar images: 35x35 squares with background when image doesn't load */
    display: block;
    background: gray;
    height: 35px;
    width: 35px;
}

.warbler-reply__input {
    /* Reply textarea: Display as block so surrounding buttons are placed below */
    display: block;
    font: inherit;
    color: inherit;
}

.warbler-action,
.warbler-reply__submit {
    /* Action & submit reply: Remove button styles */
    border: 0;
    padding: 0;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
.warbler-action {
    /* Action button: spacing after action */
    margin-right: 0.5em;
}
